body{
  background-color: black;
}

.poster{
  text-align: center;
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
}

.motivation-img{
  width: 100%;
  border: 10px solid white;
  border-radius: 10px;
}

h1{
  font-size: 3rem;
  text-transform: uppercase;
}